* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #ed6663;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #ffd5cd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:  10px 50px;
}

h3 {
    font-size: 25px;
}

input {
    width: 100%;
    height: 40px;
    font-size: 25px;
    padding: 0 10px;
    border-radius: 4px;
}

span {
    background-color: #b52b65;
    width: 100%;
    height: 40px;
    font-size: 15px;
    display: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    border: 2px solid #8a1b49;
    border-radius: 4px;
}

p {
    color: #00b7c2;
    font-size: 30px;
    font-weight: bold;
    display: none;
}

button {
    background-color:#ed6663;
	border-radius:28px;
	border:1px solid #ed6663;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    margin: 10px;
}

.show {
    display: flex
}